KEYSTORE_PATH=xxxxx
KEYSTORE_PASS=xxxxx
KEYSTORE_ALIAS=xxxxx
KEYSTORE_ALIAS_PASS=xxxxx
# For frontend builds (Vite) use the VITE_ prefix
VITE_CG_API_KEY=xxxxx
VITE_COINCAP_API_KEY=xxxxx
VITE_CRYPTOAPIS_KEY=xxxxx
VITE_WC_PROJECT_ID=xxxxx
